<div class="d-flex">
  <form class="needs-validation" (ngSubmit)="onSubmit()" #basicForm="ngForm" novalidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name"
             name="name"
             type="text"
             class="form-control"
             [ngClass]="{'is-invalid': name.invalid && name.touched, 'is-valid': name.valid}"
             required
             [(ngModel)]="model.name"
             #name="ngModel">
      <div class="invalid-feedback">Name is required</div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!basicForm.form.valid">Submit</button>
  </form>
</div>
